.carousel-item{
    background: no-repeat scroll center scroll;
    background-size: cover;
}
.navigation .carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
}

ul li {
    list-style: none;
}