*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
}
.carousel-item{
    background: no-repeat scroll center scroll;
    background-size: cover;
}
#navigation .carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
}

ul li {
    list-style: none;
}

footer ul li {
    width: 28px;
    height: 28px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    html{
        font-size: 62.5%;
    }
}